@model PurchaseAssetDto
@{
    ViewData["Title"] = "Purchase";
}
<div class="row w-100 m-0">
    <div class="offset-md-6 col-md-5 container w-100">
        <h2>Purchase Asset</h2>
        <hr class="hr-2" />
        <div>
            <h5 class="d-inline-block">Asset:</h5>
            <i> @Model.ViewModel.Name</i>
        </div>
        <div>
            <h5 class="d-inline-block">Price:</h5>
            <i> $@Model.ViewModel.MonetaryValue</i>
        </div>
        <div>
            <h5 class="d-inline-block">Listed on:</h5>
            <i> @Model.ViewModel.CreatedAt.</i>
        </div>
        <hr />
        <div class="mb-3">
            <h5 class="d-inline-block">Payment Method:</h5><i> Online Banking ePayment</i>
        </div>
        <div class="mb-3">
            <h5 class="d-inline-block">Bank Name:</h5><i> ABC PRIVATE BANK</i>
        </div>
        <div class="mb-3">
            <h5 class="d-inline-block">Your Current Balance:</h5><i> $@Model.CurrentClientBalance</i>
            @if (!ViewData.ModelState.IsValid)
            {
                <hr />
                <div class="alert alert-danger">
                    <span asp-validation-for="BindingModel.AssetPrice"></span>
                </div>
            }
        </div>
        <form method="post" asp-action="PurchaseConfirm" asp-controller="Assets">
            <div class="form-group">
                <input asp-for="BindingModel.AssetId" value="@Model.ViewModel.Id" type="hidden" required />
            </div>
            <div class="form-group">
                <input asp-for="BindingModel.CurrentClientBalance" value="@Model.CurrentClientBalance" type="hidden" required />
            </div>
            <div class="form-group">
                <input asp-for="BindingModel.AssetPrice" value="@Model.ViewModel.MonetaryValue" type="hidden" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Purchase" class="btn btn-warning btn-lg btn-block" />
            </div>
        </form>
    </div>
</div>

    @section Scripts
        {
        <partial name="_ValidationScriptsPartial" />
    }
