<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BankManagementSystem</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl navbar-light">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Bank</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Credit Cards
                        </a>
                        <div class="dropdown-menu" aria-labelledby="customersDropdown">
                            <a class="dropdown-item" asp-controller="CreditCards" asp-action="Index">My Cards</a>
                            <a class="dropdown-item" asp-controller="CreditCards" asp-action="Create">Create Card</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="@PageConstants.DepositCreate">Deposit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="@PageConstants.WithdrawIndex">Withdraw</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Assets" asp-action="Index">Assets</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Credit
                        </a>
                        <div class="dropdown-menu" aria-labelledby="customersDropdown">
                            <a class="dropdown-item" asp-page="@PageConstants.CreditIndex">My Credits</a>
                            <a class="dropdown-item" asp-page="@PageConstants.CreditCreate">Create Credit</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="@PageConstants.TransactionIndex">Transactions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <partial name="_AdministratorPartial" />
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </nav>
    </header>
    <div class="main">
        <partial name="_CookieConsentPartial" />
        @RenderBody()
    </div>

    <footer class="page-footer font-small text-white border-top text-dark">
        <div class="container-fluid text-center text-md-left pt-3">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5>BankManagementSystem</h5>
                    <p>
                        Bank Management System is an open source ASP.NET CORE based web application with a user-friendly
                        UI developed to assist clients of a bank to manage their financial resources, credit cards, transactions,
                        financial assets and credits.
                    </p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3"></div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://github.com/rusev9/BankManagementSystem" class="text-dark">
                                <i class="fab fa fa-github"></i> Source code
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">
            © 2019 Copyright:
            <a href="/">BankManagementSystem</a>
        </div>
    </footer>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
